In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from array import *
import statistics
import glob
import os

In [2]:
path ="/home/theubuntu/ZedRos_CustomDetection/YoloV5 ResultsonTest/human"

In [3]:
print(glob.glob(path+"/*.txt"))

['/home/theubuntu/ZedRos_CustomDetection/YoloV5 ResultsonTest/human/1_posData_Human_1_6m.txt', '/home/theubuntu/ZedRos_CustomDetection/YoloV5 ResultsonTest/human/2_posData_Humann_3_2m.txt', '/home/theubuntu/ZedRos_CustomDetection/YoloV5 ResultsonTest/human/3_posData_human_4_8m.txt']

In [4]:
files =glob.glob(path+"/*.txt")
files.sort()
files

['/home/theubuntu/ZedRos_CustomDetection/YoloV5 ResultsonTest/human/1_posData_Human_1_6m.txt',
 '/home/theubuntu/ZedRos_CustomDetection/YoloV5 ResultsonTest/human/2_posData_Humann_3_2m.txt',
 '/home/theubuntu/ZedRos_CustomDetection/YoloV5 ResultsonTest/human/3_posData_human_4_8m.txt']

In [5]:
list_dfs = []
df = pd.DataFrame()
for file in files:
    df_l = pd.read_csv(file, index_col=None, header=0)
    df_l = df_l.iloc[: , :-1]
    list_dfs.append(df_l)


df = pd.concat(list_dfs, axis=1, ignore_index=True)

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.558010,1.701396,0.557997,1.474085,0.572836,1.966304,0.572820,3.145998,0.595004,2.060363,0.594992,4.927964
1,0.557986,1.701614,0.557973,1.473892,0.572880,1.966623,0.572863,3.146343,0.595068,2.060330,0.595055,4.928359
2,0.557968,1.701766,0.557955,1.473911,0.572925,1.966509,0.572909,3.146591,0.595146,2.060349,0.595134,4.929510
3,0.557951,1.701827,0.557938,1.473855,0.572968,1.966822,0.572951,3.146919,0.595228,2.060339,0.595215,4.930439
4,0.557930,1.701942,0.557917,1.473727,0.573017,1.967165,0.573001,3.147260,0.595307,2.060355,0.595295,4.931018

In [7]:
#All measurements in meter
measurements_real_life=[0.45,1.91,0.31] #width, hight, depth of pepper robot

distances_real_life =[1.6,3.2,4.8]

In [8]:
numberOfColumns=df.shape[1]
numberOfRows =df.shape[0]

In [9]:
Max_measurement=[0 for i in range(numberOfColumns)] 
Min_measurement=[0 for i in range(numberOfColumns)] 
Mean_measurement=[0 for i in range(numberOfColumns)] 
Max_measurement_deviation=[0 for i in range(numberOfColumns)] 
Var_measurement=[0 for i in range(numberOfColumns)] 
Deviation_to_real=[0 for i in range(numberOfColumns)]

In [10]:
for i in range(0, numberOfColumns):
    Max_measurement[i] = df[df.columns[i]].max()
    Mean_measurement[i]= df[df.columns[i]].mean()
    Min_measurement[i]= df[df.columns[i]].min()
    Var_measurement[i]= df[df.columns[i]].var()

In [11]:
for i in range(0, numberOfColumns):
    print(Max_measurement[i])

0.560162
1.705748
0.560146
1.477119
0.573512
1.968976
0.573498
3.149397
0.597073
2.063471
0.597058
4.94709

In [12]:
for i in range(0, numberOfColumns):
    print(Min_measurement[i])

0.55788
1.701396
0.557868
1.473191
0.570898
1.964699
0.570884
3.144363
0.592886
2.06033
0.59287
4.927964

In [13]:
for i in range(0, numberOfColumns):
    print(Mean_measurement[i])

0.5586676565656565
1.703661696969697
0.558653494949495
1.4754733737373735
0.5731057979797979
1.9671857777777777
0.573086
3.147327737373738
0.5960623232323232
2.0614186262626264
0.5960475858585859
4.937444626262626

In [14]:
for i in range(0, numberOfColumns):
    print(Var_measurement[i])

2.555286155431828e-07
1.7385015398887185e-06
2.5513059946402655e-07
8.926192364461029e-07
1.5098283632240587e-07
1.2150902562358303e-06
1.5549518367347304e-07
1.6735600527726631e-06
4.6891497608740457e-07
7.792948282827933e-07
4.684179797979772e-07
2.8170938113997305e-05

In [15]:
for i in range(0, numberOfColumns):
    Max_measurement_deviation[i]=Max_measurement[i]-Mean_measurement[i]
    temp=Mean_measurement[i]- Min_measurement[i]
    if(temp>Max_measurement_deviation[i]):
        Max_measurement_deviation[i]=temp
    print(Max_measurement_deviation[i])

0.0014943434343435147
0.0022656969696970286
0.001492505050505022
0.002282373737373611
0.0022077979797978653
0.0024867777777777267
0.0022020000000000373
0.0029647373737380356
0.003176323232323197
0.0020523737373734363
0.003177585858585852
0.009645373737374285

In [23]:
#Now calculate the deviation from the real life measurements with the mean 
for i in range(0, numberOfColumns):
 
    if i==3 or i==7  or i==11:   #distance 
        Deviation_to_real[i]=Mean_measurement[i]-distances_real_life[i%3]
    else:
       Deviation_to_real[i]=Mean_measurement[i]-measurements_real_life[i%4]

In [24]:
for i in range(0, numberOfColumns):
    print(Deviation_to_real[i])

0.10866765656565652
-0.20633830303030298
0.248653494949495
-0.12452662626262656
0.12310579797979787
0.05718577777777778
0.263086
-0.052672262626262345
0.1460623232323232
0.15141862626262648
0.28604758585858586
0.1374446262626261

In [25]:
#Only for Latex
data1=[]
data2=[]
data3=[]
data4=[]
for i in range(0, numberOfColumns):
    if(i%4==0):
          data1.append(Mean_measurement[i])
    if(i%4==1):
          data2.append(Mean_measurement[i])
    if(i%4==2):
          data3.append(Mean_measurement[i])
    if(i%4==3):
          data4.append(Mean_measurement[i])
    
    
data=[data1,data2,data3,data4]
rows = ["width", "height", "depth","distance"]
columns = ["1.6m", "3.2m", "4.8m"]
df_latex = pd.DataFrame(data=data, index=rows, columns=columns)
df_latex

              1.6m      3.2m      4.8m
width     0.558668  0.573106  0.596062
height    1.703662  1.967186  2.061419
depth     0.558653  0.573086  0.596048
distance  1.475473  3.147328  4.937445

In [26]:
print(df_latex.to_latex(index=True))

\begin{tabular}{lrrr}
\toprule
{} &      1.6m &      3.2m &      4.8m \\
\midrule
width    &  0.558668 &  0.573106 &  0.596062 \\
height   &  1.703662 &  1.967186 &  2.061419 \\
depth    &  0.558653 &  0.573086 &  0.596048 \\
distance &  1.475473 &  3.147328 &  4.937445 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_162948/3287978498.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df_latex.to_latex(index=True))

In [27]:
data1=[]
data2=[]
data3=[]
data4=[]
for i in range(0, numberOfColumns):
    if(i%4==0):
          data1.append(Max_measurement_deviation[i])
    if(i%4==1):
          data2.append(Max_measurement_deviation[i])
    if(i%4==2):
          data3.append(Max_measurement_deviation[i])
    if(i%4==3):
          data4.append(Max_measurement_deviation[i])
    
    
data=[data1,data2,data3,data4]
rows = ["width", "height", "depth","distance"]
columns = ["1.6m", "3.2m", "4.8m"]
df_latex = pd.DataFrame(data=data, index=rows, columns=columns)
df_latex

              1.6m      3.2m      4.8m
width     0.001494  0.002208  0.003176
height    0.002266  0.002487  0.002052
depth     0.001493  0.002202  0.003178
distance  0.002282  0.002965  0.009645

In [28]:
print(df_latex.to_latex(index=True))

\begin{tabular}{lrrr}
\toprule
{} &      1.6m &      3.2m &      4.8m \\
\midrule
width    &  0.001494 &  0.002208 &  0.003176 \\
height   &  0.002266 &  0.002487 &  0.002052 \\
depth    &  0.001493 &  0.002202 &  0.003178 \\
distance &  0.002282 &  0.002965 &  0.009645 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_162948/3287978498.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df_latex.to_latex(index=True))

In [29]:
data1=[]
data2=[]
data3=[]
data4=[]
for i in range(0, numberOfColumns):
    if(i%4==0):
          data1.append(Deviation_to_real[i])
    if(i%4==1):
          data2.append(Deviation_to_real[i])
    if(i%4==2):
          data3.append(Deviation_to_real[i])
    if(i%4==3):
          data4.append(Deviation_to_real[i])
    
    
data=[data1,data2,data3,data4]
rows = ["width", "height", "depth","distance"]
columns = ["1.6m", "3.2m", "4.8m"]
df_latex = pd.DataFrame(data=data, index=rows, columns=columns)
df_latex

              1.6m      3.2m      4.8m
width     0.108668  0.123106  0.146062
height   -0.206338  0.057186  0.151419
depth     0.248653  0.263086  0.286048
distance -0.124527 -0.052672  0.137445

In [30]:
print(df_latex.to_latex(index=True))

\begin{tabular}{lrrr}
\toprule
{} &      1.6m &      3.2m &      4.8m \\
\midrule
width    &  0.108668 &  0.123106 &  0.146062 \\
height   & -0.206338 &  0.057186 &  0.151419 \\
depth    &  0.248653 &  0.263086 &  0.286048 \\
distance & -0.124527 & -0.052672 &  0.137445 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_162948/3572654409.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df_latex.to_latex(index=True))