In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from array import *
import statistics

In [2]:
df = pd.read_csv("/home/theubuntu/ZedRos_CustomDetection/YoloV5 ResultsonTest/kuka/posData_Kuka_1_6m.txt", sep=",",header=None)

In [3]:
df = df.iloc[: , :-1]
df.head()

          0         1         2         3
0  0.583988  0.701873  0.583971  1.761878
1  0.584228  0.702136  0.584210  1.763260
2  0.584455  0.702134  0.584437  1.763758
3  0.584586  0.702144  0.584569  1.763779
4  0.584834  0.702185  0.584816  1.765189

In [6]:
#All measurements in meter
measurements_real_life=[0.375,0.60, 0.57] #width, hight, depth of kuka robot
distances_real_life =[1.6,3.2,4.8]

In [7]:
numberOfColumns=df.shape[1]
numberOfRows =df.shape[0]

In [8]:
Max_measurement=[0 for i in range(numberOfColumns)] 
Min_measurement=[0 for i in range(numberOfColumns)] 
Mean_measurement=[0 for i in range(numberOfColumns)] 
Max_measurement_deviation=[0 for i in range(numberOfColumns)] 
Deviation_to_real=[0 for i in range(numberOfColumns)]

In [9]:
for i in range(0, numberOfColumns):
    Max_measurement[i] = df[df.columns[i]].max()
    Mean_measurement[i]= df[df.columns[i]].mean()
    Min_measurement[i]= df[df.columns[i]].min()

In [10]:
for i in range(0, numberOfColumns):
    print(Mean_measurement[i])

0.5875237600000001
0.7030686500000002
0.5875060599999999
1.77251324

In [9]:
for i in range(0, numberOfColumns):
    Max_measurement_deviation[i]=Max_measurement[i]-Mean_measurement[i]
    temp=Mean_measurement[i]- Min_measurement[i]
    if(temp>Max_measurement_deviation[i]):
        Max_measurement_deviation[i]=temp
    print(Max_measurement_deviation[i])

0.0037522399999999623
0.0011956500000002146
0.003752940000000038
0.010635240000000046

In [10]:
#Now calculate the deviation from the real life measurements with the mean 
for i in range(0, numberOfColumns):
 
    if i==numberOfColumns-1:   #distance 
        Deviation_to_real[i]=abs(Mean_measurement[i]-distances_real_life[0])
    else:
       Deviation_to_real[i]=abs(Mean_measurement[i]-measurements_real_life[i])

In [11]:
for i in range(0, numberOfColumns):
    print(Deviation_to_real[i])

0.21252376000000006
0.1030686500000002
0.01750605999999999
0.17251324

In [12]:
data1=[]

for i in range(0, numberOfColumns):
          data1.append(Deviation_to_real[i])
    
rows = ["width", "height", "depth","distance"]
columns = ["1.6m"]
df_latex = pd.DataFrame(data=data1, index=rows, columns=columns)
df_latex

              1.6m
width     0.212524
height    0.103069
depth     0.017506
distance  0.172513

In [ ]:
#For Latex

In [13]:
data1=[]
data2=[]
data3=[]
data4=[]
for i in range(0, numberOfColumns):
    if(i%4==0):
          data1.append(Mean_measurement[i])
    if(i%4==1):
          data2.append(Mean_measurement[i])
    if(i%4==2):
          data3.append(Mean_measurement[i])
    if(i%4==3):
          data4.append(Mean_measurement[i])
    
    
data=[data1,data2,data3,data4]
rows = ["width", "height", "depth","distance"]
columns = ["1.6m"]
df_latex = pd.DataFrame(data=data, index=rows, columns=columns)
df_latex

              1.6m
width     0.587524
height    0.703069
depth     0.587506
distance  1.772513

In [14]:

print(df_latex.to_latex(index=True))

\begin{tabular}{lr}
\toprule
{} &      1.6m \\
\midrule
width    &  0.587524 \\
height   &  0.703069 \\
depth    &  0.587506 \\
distance &  1.772513 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_715106/3669379685.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df_latex.to_latex(index=True))

In [15]:
data1=[]
data2=[]
data3=[]
data4=[]
for i in range(0, numberOfColumns):
    if(i%4==0):
          data1.append(Max_measurement_deviation[i])
    if(i%4==1):
          data2.append(Max_measurement_deviation[i])
    if(i%4==2):
          data3.append(Max_measurement_deviation[i])
    if(i%4==3):
          data4.append(Max_measurement_deviation[i])
    
    
data=[data1,data2,data3,data4]
rows = ["width", "height", "depth","distance"]
columns = ["1.6m"]
df_latex = pd.DataFrame(data=data, index=rows, columns=columns)
df_latex

              1.6m
width     0.003752
height    0.001196
depth     0.003753
distance  0.010635

In [16]:

print(df_latex.to_latex(index=True))

\begin{tabular}{lr}
\toprule
{} &      1.6m \\
\midrule
width    &  0.003752 \\
height   &  0.001196 \\
depth    &  0.003753 \\
distance &  0.010635 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_715106/3669379685.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df_latex.to_latex(index=True))

In [17]:
data1=[]
data2=[]
data3=[]
data4=[]
for i in range(0, numberOfColumns):
    if(i%4==0):
          data1.append(Deviation_to_real[i])
    if(i%4==1):
          data2.append(Deviation_to_real[i])
    if(i%4==2):
          data3.append(Deviation_to_real[i])
    if(i%4==3):
          data4.append(Deviation_to_real[i])
    
    
data=[data1,data2,data3,data4]
rows = ["width", "height", "depth","distance"]
columns = ["1.6m"]
df_latex = pd.DataFrame(data=data, index=rows, columns=columns)
df_latex

              1.6m
width     0.212524
height    0.103069
depth     0.017506
distance  0.172513

In [18]:

print(df_latex.to_latex(index=True))

\begin{tabular}{lr}
\toprule
{} &      1.6m \\
\midrule
width    &  0.212524 \\
height   &  0.103069 \\
depth    &  0.017506 \\
distance &  0.172513 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_715106/3669379685.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df_latex.to_latex(index=True))