In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from array import *
import statistics
import glob
import os

In [2]:
path ="/home/theubuntu/ZedRos_CustomDetection/YoloV5 ResultsonTest/pepper"

In [3]:
print(glob.glob(path+"/*.txt"))

['/home/theubuntu/ZedRos_CustomDetection/YoloV5 ResultsonTest/pepper/1_posData_pepper_1_6m.txt', '/home/theubuntu/ZedRos_CustomDetection/YoloV5 ResultsonTest/pepper/2_posData_pepper_3,2m.txt', '/home/theubuntu/ZedRos_CustomDetection/YoloV5 ResultsonTest/pepper/3_posData_pepper_4_8m.txt']

In [4]:
files =glob.glob(path+"/*.txt")
files.sort()
files

['/home/theubuntu/ZedRos_CustomDetection/YoloV5 ResultsonTest/pepper/1_posData_pepper_1_6m.txt',
 '/home/theubuntu/ZedRos_CustomDetection/YoloV5 ResultsonTest/pepper/2_posData_pepper_3,2m.txt',
 '/home/theubuntu/ZedRos_CustomDetection/YoloV5 ResultsonTest/pepper/3_posData_pepper_4_8m.txt']

In [5]:
list_dfs = []
df = pd.DataFrame()
for file in files:
    df_l = pd.read_csv(file, index_col=None, header=0)
    df_l = df_l.iloc[: , :-1]
    list_dfs.append(df_l)


df = pd.concat(list_dfs, axis=1, ignore_index=True)

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.556064,1.216212,0.556047,1.531918,0.522107,1.228508,0.522091,3.235820,0.475526,1.245905,0.475513,4.978554
1,0.556037,1.216187,0.556020,1.531888,0.521239,1.228536,0.521224,3.235982,0.475527,1.245915,0.475514,4.978229
2,0.556014,1.216129,0.555998,1.531882,0.520537,1.228684,0.520522,3.235969,0.475531,1.245975,0.475518,4.978283
3,0.556002,1.216062,0.555985,1.532023,0.522642,1.228720,0.522627,3.235389,0.475523,1.245974,0.475510,4.977740
4,0.555982,1.216202,0.555965,1.531872,0.521661,1.228631,0.521646,3.235553,0.475501,1.245981,0.475489,4.976907

In [7]:
#All measurements in meter
measurements_real_life=[0.425,1.11, 0.425] #width, hight, depth of pepper robot
distances_real_life =[1.6,3.2,4.8]

In [8]:
numberOfColumns=df.shape[1]
numberOfRows =df.shape[0]

In [9]:
Max_measurement=[0 for i in range(numberOfColumns)] 
Min_measurement=[0 for i in range(numberOfColumns)] 
Mean_measurement=[0 for i in range(numberOfColumns)] 
Max_measurement_deviation=[0 for i in range(numberOfColumns)] 
Deviation_to_real=[0 for i in range(numberOfColumns)]

In [10]:
for i in range(0, numberOfColumns):
    Max_measurement[i] = df[df.columns[i]].max()
    Mean_measurement[i]= df[df.columns[i]].mean()
    Min_measurement[i]= df[df.columns[i]].min()

In [11]:
for i in range(0, numberOfColumns):
    print(Mean_measurement[i])
    print(Max_measurement[i])
    print(Min_measurement[i])

0.5569071010101011
0.560144
0.554583
1.216044676767677
1.216713
1.215549
0.5568890909090909
0.560127
0.554565
1.5336319090909092
1.535321
1.531872
0.5187249393939394
0.523155
0.51376
1.2288511919191918
1.229669
1.227942
0.518710404040404
0.523141
0.513745
3.2351364343434335
3.23735
3.232707
0.47515952525252525
0.475918
0.47137
1.2459252424242426
1.246376
1.245564
0.4751467474747475
0.475905
0.471357
4.976975323232324
4.982948
4.971574

In [12]:
for i in range(0, numberOfColumns):
    Max_measurement_deviation[i]=Max_measurement[i]-Mean_measurement[i]
    temp=Mean_measurement[i]- Min_measurement[i]
    if(temp>Max_measurement_deviation[i]):
        Max_measurement_deviation[i]=temp
    print(Max_measurement_deviation[i])

0.003236898989898873
0.0006683232323230204
0.0032379090909091524
0.001759909090909284
0.004964939393939383
0.0009091919191916986
0.00496540404040402
0.0024294343434334564
0.0037895252525252388
0.000450757575757299
0.0037897474747474735
0.0059726767676764325

In [21]:
#Now calculate the deviation from the real life measurements with the mean 
for i in range(0, numberOfColumns):
 
    if i==3 or i==7  or i==11:   #distance 
        Deviation_to_real[i]=Mean_measurement[i]-distances_real_life[i%3]
    else:
       Deviation_to_real[i]=Mean_measurement[i]-measurements_real_life[i%4]

In [22]:
for i in range(0, numberOfColumns):
    print(Deviation_to_real[i])

0.1319071010101011
0.10604467676767682
0.1318890909090909
-0.0663680909090909
0.09372493939393939
0.11885119191919169
0.09371040404040404
0.035136434343433276
0.05015952525252526
0.13592524242424253
0.05014674747474751
0.17697532323232412

In [ ]:
#For Latex

In [23]:
data1=[]
data2=[]
data3=[]
data4=[]
for i in range(0, numberOfColumns):
    if(i%4==0):
          data1.append(Mean_measurement[i])
    if(i%4==1):
          data2.append(Mean_measurement[i])
    if(i%4==2):
          data3.append(Mean_measurement[i])
    if(i%4==3):
          data4.append(Mean_measurement[i])
    
    
data=[data1,data2,data3,data4]
rows = ["width", "height", "depth","distance"]
columns = ["1.6m", "3.2m", "4.8m"]
df_latex = pd.DataFrame(data=data, index=rows, columns=columns)
df_latex

              1.6m      3.2m      4.8m
width     0.556907  0.518725  0.475160
height    1.216045  1.228851  1.245925
depth     0.556889  0.518710  0.475147
distance  1.533632  3.235136  4.976975

In [24]:
print(df_latex.to_latex(index=True))

\begin{tabular}{lrrr}
\toprule
{} &      1.6m &      3.2m &      4.8m \\
\midrule
width    &  0.556907 &  0.518725 &  0.475160 \\
height   &  1.216045 &  1.228851 &  1.245925 \\
depth    &  0.556889 &  0.518710 &  0.475147 \\
distance &  1.533632 &  3.235136 &  4.976975 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_165761/3287978498.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df_latex.to_latex(index=True))

In [25]:
data1=[]
data2=[]
data3=[]
data4=[]
for i in range(0, numberOfColumns):
    if(i%4==0):
          data1.append(Max_measurement_deviation[i])
    if(i%4==1):
          data2.append(Max_measurement_deviation[i])
    if(i%4==2):
          data3.append(Max_measurement_deviation[i])
    if(i%4==3):
          data4.append(Max_measurement_deviation[i])
    
    
data=[data1,data2,data3,data4]
rows = ["width", "height", "depth","distance"]
columns = ["1.6m", "3.2m", "4.8m"]
df_latex = pd.DataFrame(data=data, index=rows, columns=columns)
df_latex

              1.6m      3.2m      4.8m
width     0.003237  0.004965  0.003790
height    0.000668  0.000909  0.000451
depth     0.003238  0.004965  0.003790
distance  0.001760  0.002429  0.005973

In [26]:
print(df_latex.to_latex(index=True))

\begin{tabular}{lrrr}
\toprule
{} &      1.6m &      3.2m &      4.8m \\
\midrule
width    &  0.003237 &  0.004965 &  0.003790 \\
height   &  0.000668 &  0.000909 &  0.000451 \\
depth    &  0.003238 &  0.004965 &  0.003790 \\
distance &  0.001760 &  0.002429 &  0.005973 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_165761/3287978498.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df_latex.to_latex(index=True))

In [27]:
data1=[]
data2=[]
data3=[]
data4=[]
for i in range(0, numberOfColumns):
    if(i%4==0):
          data1.append(Deviation_to_real[i])
    if(i%4==1):
          data2.append(Deviation_to_real[i])
    if(i%4==2):
          data3.append(Deviation_to_real[i])
    if(i%4==3):
          data4.append(Deviation_to_real[i])
    
    
data=[data1,data2,data3,data4]
rows = ["width", "height", "depth","distance"]
columns = ["1.6m", "3.2m", "4.8m"]
df_latex = pd.DataFrame(data=data, index=rows, columns=columns)
df_latex

              1.6m      3.2m      4.8m
width     0.131907  0.093725  0.050160
height    0.106045  0.118851  0.135925
depth     0.131889  0.093710  0.050147
distance -0.066368  0.035136  0.176975

In [28]:
print(df_latex.to_latex(index=True))

\begin{tabular}{lrrr}
\toprule
{} &      1.6m &      3.2m &      4.8m \\
\midrule
width    &  0.131907 &  0.093725 &  0.050160 \\
height   &  0.106045 &  0.118851 &  0.135925 \\
depth    &  0.131889 &  0.093710 &  0.050147 \\
distance & -0.066368 &  0.035136 &  0.176975 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_165761/3287978498.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df_latex.to_latex(index=True))