In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from array import *
import statistics
import glob
import os

In [2]:
path ="/home/theubuntu/ZedRos_CustomDetection/YoloV5 ResultsonTest/tiago"

In [3]:
print(glob.glob(path+"/*.txt"))

['/home/theubuntu/ZedRos_CustomDetection/YoloV5 ResultsonTest/tiago/2_posData_Tiago_3.2m.txt', '/home/theubuntu/ZedRos_CustomDetection/YoloV5 ResultsonTest/tiago/1_posData_Tiago_1_6m.txt', '/home/theubuntu/ZedRos_CustomDetection/YoloV5 ResultsonTest/tiago/3_posData_Tiago_4_8m.txt']

In [4]:
files =glob.glob(path+"/*.txt")
files.sort()
files

['/home/theubuntu/ZedRos_CustomDetection/YoloV5 ResultsonTest/tiago/1_posData_Tiago_1_6m.txt',
 '/home/theubuntu/ZedRos_CustomDetection/YoloV5 ResultsonTest/tiago/2_posData_Tiago_3.2m.txt',
 '/home/theubuntu/ZedRos_CustomDetection/YoloV5 ResultsonTest/tiago/3_posData_Tiago_4_8m.txt']

In [5]:
list_dfs = []
df = pd.DataFrame()
for file in files:
    df_l = pd.read_csv(file, index_col=None, header=0)
    df_l = df_l.iloc[: , :-1]
    list_dfs.append(df_l)


df = pd.concat(list_dfs, axis=1, ignore_index=True)

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.634300,1.200187,0.634281,1.459651,0.576868,1.162129,0.576849,3.152749,0.586017,1.189138,0.585999,4.886504
1,0.634084,1.199918,0.634067,1.459436,0.576468,1.162047,0.576451,3.152625,0.586861,1.188906,0.586843,4.885694
2,0.633958,1.201786,0.633940,1.460196,0.578758,1.162344,0.578741,3.151320,0.587534,1.188729,0.587516,4.885221
3,0.632501,1.201391,0.632483,1.460787,0.577970,1.162192,0.577953,3.151501,0.584132,1.189046,0.584113,4.886725
4,0.632679,1.201262,0.632661,1.460602,0.577330,1.162027,0.577313,3.151545,0.585339,1.189432,0.585320,4.885816

In [7]:
#All measurements in meter
measurements_real_life=[0.425,1.11, 0.425] #width, hight, depth of pepper robot
distances_real_life =[1.6,3.2,4.8]

In [8]:
numberOfColumns=df.shape[1]
numberOfRows =df.shape[0]

In [9]:
Max_measurement=[0 for i in range(numberOfColumns)] 
Min_measurement=[0 for i in range(numberOfColumns)] 
Mean_measurement=[0 for i in range(numberOfColumns)] 
Max_measurement_deviation=[0 for i in range(numberOfColumns)] 
Deviation_to_real=[0 for i in range(numberOfColumns)]

In [10]:
for i in range(0, numberOfColumns):
    Max_measurement[i] = df[df.columns[i]].max()
    Mean_measurement[i]= df[df.columns[i]].mean()
    Min_measurement[i]= df[df.columns[i]].min()

In [11]:
for i in range(0, numberOfColumns):
    print(Mean_measurement[i])

0.6329426666666668
1.2017516161616162
0.6329242121212122
1.4603109494949493
0.5852610202020202
1.167144
0.5852437171717172
3.187410888888889
0.5886205050505051
1.1912124949494949
0.5886019797979798
4.885798373737374

In [12]:
for i in range(0, numberOfColumns):
    Max_measurement_deviation[i]=Max_measurement[i]-Mean_measurement[i]
    temp=Mean_measurement[i]- Min_measurement[i]
    if(temp>Max_measurement_deviation[i]):
        Max_measurement_deviation[i]=temp
    print(Max_measurement_deviation[i])

0.0034156666666668167
0.00884238383838376
0.003414212121212179
0.0032050505050507105
0.6562819797979799
0.6172660000000001
0.6562592828282828
3.4585051111111107
0.008379494949494859
0.0028154949494949566
0.008379020202020193
0.004231373737373367

In [21]:
#Now calculate the deviation from the real life measurements with the mean 
for i in range(0, numberOfColumns):
 
    if i==3 or i==7  or i==11:   #distance 
        Deviation_to_real[i]=Mean_measurement[i]-distances_real_life[i%3]
    else:
       Deviation_to_real[i]=Mean_measurement[i]-measurements_real_life[i%4]

In [22]:
for i in range(0, numberOfColumns):
    print(Deviation_to_real[i])

0.20794266666666678
0.09175161616161609
0.2079242121212122
-0.13968905050505076
0.1602610202020202
0.05714399999999986
0.1602437171717172
-0.012589111111111162
0.16362050505050513
0.08121249494949478
0.1636019797979798
0.08579837373737398

In [ ]:
#For Latex

In [23]:
data1=[]
data2=[]
data3=[]
data4=[]
for i in range(0, numberOfColumns):
    if(i%4==0):
          data1.append(Mean_measurement[i])
    if(i%4==1):
          data2.append(Mean_measurement[i])
    if(i%4==2):
          data3.append(Mean_measurement[i])
    if(i%4==3):
          data4.append(Mean_measurement[i])
    
    
data=[data1,data2,data3,data4]
rows = ["width", "height", "depth","distance"]
columns = ["1.6m", "3.2m", "4.8m"]
df_latex = pd.DataFrame(data=data, index=rows, columns=columns)
df_latex

              1.6m      3.2m      4.8m
width     0.632943  0.585261  0.588621
height    1.201752  1.167144  1.191212
depth     0.632924  0.585244  0.588602
distance  1.460311  3.187411  4.885798

In [24]:
print(df_latex.to_latex(index=True))

\begin{tabular}{lrrr}
\toprule
{} &      1.6m &      3.2m &      4.8m \\
\midrule
width    &  0.632943 &  0.585261 &  0.588621 \\
height   &  1.201752 &  1.167144 &  1.191212 \\
depth    &  0.632924 &  0.585244 &  0.588602 \\
distance &  1.460311 &  3.187411 &  4.885798 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_166823/3287978498.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df_latex.to_latex(index=True))

In [25]:
data1=[]
data2=[]
data3=[]
data4=[]
for i in range(0, numberOfColumns):
    if(i%4==0):
          data1.append(Max_measurement_deviation[i])
    if(i%4==1):
          data2.append(Max_measurement_deviation[i])
    if(i%4==2):
          data3.append(Max_measurement_deviation[i])
    if(i%4==3):
          data4.append(Max_measurement_deviation[i])
    
    
data=[data1,data2,data3,data4]
rows = ["width", "height", "depth","distance"]
columns = ["1.6m", "3.2m", "4.8m"]
df_latex = pd.DataFrame(data=data, index=rows, columns=columns)
df_latex

              1.6m      3.2m      4.8m
width     0.003416  0.656282  0.008379
height    0.008842  0.617266  0.002815
depth     0.003414  0.656259  0.008379
distance  0.003205  3.458505  0.004231

In [26]:
print(df_latex.to_latex(index=True))

\begin{tabular}{lrrr}
\toprule
{} &      1.6m &      3.2m &      4.8m \\
\midrule
width    &  0.003416 &  0.656282 &  0.008379 \\
height   &  0.008842 &  0.617266 &  0.002815 \\
depth    &  0.003414 &  0.656259 &  0.008379 \\
distance &  0.003205 &  3.458505 &  0.004231 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_166823/3287978498.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df_latex.to_latex(index=True))

In [27]:
data1=[]
data2=[]
data3=[]
data4=[]
for i in range(0, numberOfColumns):
    if(i%4==0):
          data1.append(Deviation_to_real[i])
    if(i%4==1):
          data2.append(Deviation_to_real[i])
    if(i%4==2):
          data3.append(Deviation_to_real[i])
    if(i%4==3):
          data4.append(Deviation_to_real[i])
    
    
data=[data1,data2,data3,data4]
rows = ["width", "height", "depth","distance"]
columns = ["1.6m", "3.2m", "4.8m"]
df_latex = pd.DataFrame(data=data, index=rows, columns=columns)
df_latex

              1.6m      3.2m      4.8m
width     0.207943  0.160261  0.163621
height    0.091752  0.057144  0.081212
depth     0.207924  0.160244  0.163602
distance -0.139689 -0.012589  0.085798

In [28]:

print(df_latex.to_latex(index=True))

\begin{tabular}{lrrr}
\toprule
{} &      1.6m &      3.2m &      4.8m \\
\midrule
width    &  0.207943 &  0.160261 &  0.163621 \\
height   &  0.091752 &  0.057144 &  0.081212 \\
depth    &  0.207924 &  0.160244 &  0.163602 \\
distance & -0.139689 & -0.012589 &  0.085798 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_166823/3669379685.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df_latex.to_latex(index=True))